xstampp.astpa/src/hazschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="astpa.model"
xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:Q1="astpa.model" version="2.0.0">
  <xs:element name="dataModelController">
    <xs:complexType>
      <xs:sequence>
      	<xs:element name="projectdata">
      		<xs:complexType>
      			<xs:sequence>
      				<xs:element name="styleRanges" minOccurs="0"
      					maxOccurs="1">
      					<xs:complexType>
      						<xs:sequence>
      							<xs:element type="xs:string"
      								name="styleRange" minOccurs="0" maxOccurs="unbounded" />
      						</xs:sequence>
      					</xs:complexType>
      				</xs:element>
      				<xs:element name="projectDescription"
      					type="xs:string" />
      				<xs:element name="projectName" type="xs:string" />
      			</xs:sequence>
      		</xs:complexType>
      	</xs:element>
      	<xs:element name="hazacc">
      		<xs:complexType>
      			<xs:sequence>
      				<xs:element name="accidents">
      					<xs:complexType>
      						<xs:sequence>
      							<xs:element name="accident"
      								type="Q1:hazaccType" minOccurs="0" maxOccurs="unbounded" />
      						</xs:sequence>
      					</xs:complexType>
      				</xs:element>
      				<xs:element name="hazards">
      					<xs:complexType>
      						<xs:sequence>
      							<xs:element name="hazard"
      								type="Q1:hazaccType" minOccurs="0" maxOccurs="unbounded" />
      						</xs:sequence>
      					</xs:complexType>
      				</xs:element>
      				<xs:element name="links">
      					<xs:complexType>
      						<xs:choice maxOccurs="unbounded"
      							minOccurs="0">
      							<xs:element name="link">
      								<xs:complexType>
      									<xs:sequence>
      										<xs:element
      											name="accidentId" type="xs:string" />
      										<xs:element
      											name="hazardId" type="xs:string" />
      									</xs:sequence>
      								</xs:complexType>
      							</xs:element>
      						</xs:choice>
      					</xs:complexType>
      				</xs:element>
      			</xs:sequence>
      		</xs:complexType>
      	</xs:element>
      	<xs:element name="sds">
      		<xs:complexType>
      			<xs:sequence>
      				<xs:element name="safetyConstraints">
      					<xs:complexType>
      						<xs:sequence>
      							<xs:element name="safetyConstraint"
      								type="Q1:hazaccType" minOccurs="0" maxOccurs="unbounded" />
      						</xs:sequence>
      					</xs:complexType>
      				</xs:element>
      				<xs:element name="systemGoals">
      					<xs:complexType>
      						<xs:sequence>
      							<xs:element name="systemGoal"
      								type="Q1:hazaccType" minOccurs="0" maxOccurs="unbounded" />
      						</xs:sequence>
      					</xs:complexType>
      				</xs:element>
      				<xs:element name="designRequirements">
      					<xs:complexType>
      						<xs:sequence>
      							<xs:element name="designRequirement"
      								type="Q1:hazaccType" minOccurs="0" maxOccurs="unbounded" />
      						</xs:sequence>
      					</xs:complexType>
      				</xs:element>
      			</xs:sequence>
      		</xs:complexType>
      	</xs:element>
                <xs:element name="controlstructure">
      		<xs:complexType>
      			<xs:sequence>
      				<xs:element name="component" minOccurs="0"
      					maxOccurs="unbounded" type="Q1:componentType" />
      				<xs:element name="connections">
      					<xs:complexType>
      						<xs:sequence>
      							<xs:element name="connection"
      								minOccurs="0" maxOccurs="unbounded">
      								<xs:complexType>
      									<xs:sequence>
      										<xs:element name="id"
      											type="xs:string" />
      										<xs:element
      											name="connectionType" type="xs:string" />
      										<xs:element
      											name="sourceAnchor" type="Q1:anchorType" />
      										<xs:element
      											name="targetAnchor" type="Q1:anchorType" />
      									</xs:sequence>
      								</xs:complexType>
      							</xs:element>
      						</xs:sequence>
      					</xs:complexType>
      				</xs:element>
      			</xs:sequence>
      		</xs:complexType>
      	</xs:element>
                <xs:element name="ignoreLTLValue" type="Q1:componentType" maxOccurs="1" minOccurs="0"></xs:element>
                <xs:element name="cac">
      		<xs:complexType>
      			<xs:sequence>
      				<xs:element name="controlactions">
      					<xs:complexType>
      						<xs:sequence>
      							<xs:element name="controlaction"
      								maxOccurs="unbounded" minOccurs="0" type="Q1:caType" />
      						</xs:sequence>
      					</xs:complexType>
      				</xs:element>
      				<xs:element name="links">
      					<xs:complexType>
      						<xs:sequence>
      							<xs:element name="link" minOccurs="0"
      								maxOccurs="unbounded">
      								<xs:complexType>
      									<xs:sequence>
      										<xs:element
      											type="xs:string" name="unsafeControlActionId" />
      										<xs:element
      											type="xs:string" name="hazardId" minOccurs="0"
      											maxOccurs="unbounded" />
      									</xs:sequence>
      								</xs:complexType>
      							</xs:element>
      						</xs:sequence>
      					</xs:complexType>
      				</xs:element>
      			</xs:sequence>
      		</xs:complexType>
      	</xs:element>
      	<xs:element name="causalfactor">
      		<xs:complexType>
      			<xs:sequence>
      				<xs:element name="causalFactorHazardLinks">
      					<xs:complexType>
      						<xs:sequence>
      							<xs:element
      								name="causalFactorHazardLink" minOccurs="0"
      								maxOccurs="unbounded">
      								<xs:complexType>
      									<xs:sequence>
      										<xs:element
      											name="causalFactorId" type="xs:string" />
      										<xs:element
      											name="hazardId" type="xs:string" />
      									</xs:sequence>
      								</xs:complexType>
      							</xs:element>
      						</xs:sequence>
      					</xs:complexType>
      				</xs:element>
      			</xs:sequence>
      		</xs:complexType>
      	</xs:element>

      </xs:sequence>
      <xs:attribute name="astpaversion" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="hazaccType">
    <xs:sequence>
      <xs:element type="xs:nonNegativeInteger" name="number"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="xs:string" name="id"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="sdsType">
    <xs:sequence>
      <xs:element type="xs:nonNegativeInteger" name="number"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="xs:string" name="id"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="componentType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="text"/>
      <xs:element type="xs:string" name="isSafetyCritical" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="comment" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="componentType"/>
      <xs:element type="xs:string" name="controlActionId" minOccurs="0" maxOccurs="1"/>
      <xs:element name="layout" type="Q1:layoutType"/>
      <xs:element name="layoutPM" type="Q1:layoutType" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="relative" minOccurs="0" maxOccurs="1"/>
      <xs:element name="children">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="component" type="Q1:componentType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="causalFactors">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="causalFactor" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element type="xs:string" name="id"/>
                  <xs:element type="xs:string" name="note"/>
                  <xs:element name="safetyConstraint">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:string" name="text"/>
                        <xs:element type="xs:string" name="id"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element type="xs:string" name="text"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="unsafeVariables" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="unsafeVariable" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="layoutType">
    <xs:sequence>
      <xs:element type="xs:nonNegativeInteger" name="height"/>
      <xs:element type="xs:nonNegativeInteger" name="width"/>
      <xs:element type="xs:nonNegativeInteger" name="x"/>
      <xs:element type="xs:nonNegativeInteger" name="y"/>
      <xs:element name="location">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:nonNegativeInteger" name="x"/>
            <xs:element type="xs:nonNegativeInteger" name="y"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="size">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:nonNegativeInteger" name="width"/>
            <xs:element type="xs:nonNegativeInteger" name="height"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="anchorType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="ownerId"/>
      <xs:element type="xs:integer" name="xOrientation"/>
      <xs:element type="xs:integer" name="yOrientation"/>
    </xs:sequence>
  </xs:complexType>

   <xs:complexType name="combieType1">
      <xs:sequence>
      	<xs:element name="processModelValueIDs" maxOccurs="1"
      		minOccurs="0">
      		<xs:complexType>
      			<xs:sequence>
      				<xs:element type="xs:string" name="value"
      					minOccurs="0" maxOccurs="unbounded" />
      			</xs:sequence>
      		</xs:complexType>
      	</xs:element>
      	<xs:element name="processModelVariableIDs"
      		type="Q1:processModelVariableIDsType" maxOccurs="1"
      		minOccurs="0">
      	</xs:element>
      	<xs:element name="refinedSafetyConstraint" maxOccurs="1"
      		minOccurs="0">
      		<xs:complexType>
      			<xs:sequence>
      				<xs:element type="xs:string" name="value"
      					minOccurs="0" maxOccurs="unbounded" />
      			</xs:sequence>
      		</xs:complexType>
      	</xs:element>
      	<xs:element type="xs:boolean" name="hazardous" />
      	<xs:element type="xs:string" name="safetyConstraint" />
      	<xs:element name="combieId" type="xs:string" maxOccurs="1"
      		minOccurs="0">
      	</xs:element>
      	<xs:element name="archived" type="xs:boolean" maxOccurs="1"
      		minOccurs="0">
      	</xs:element>

      	<xs:element name="relatedUnsafeCOntrolActionIDs"
      		type="Q1:ucaIDType" maxOccurs="1" minOccurs="0">
      	</xs:element>
      </xs:sequence>
   </xs:complexType>
    
    
   <xs:complexType name="combieType2">
      <xs:sequence>
      	<xs:element name="processModelValueIDs" maxOccurs="1"
      		minOccurs="0">
      		<xs:complexType>
      			<xs:sequence>
      				<xs:element type="xs:string" name="value"
      					minOccurs="0" maxOccurs="unbounded" />
      			</xs:sequence>
      		</xs:complexType>
      	</xs:element>
      	<xs:element name="processModelVariableIDs"
      		type="Q1:processModelVariableIDsType" maxOccurs="1"
      		minOccurs="0">
      	</xs:element>
      	<xs:element name="relatedUCAsAnytime" maxOccurs="1"
      		minOccurs="0" type="Q1:ucaIDType">

      	</xs:element>
      	<xs:element name="relatedUCAsTooLate" type="Q1:ucaIDType"
      		maxOccurs="1" minOccurs="0">
      	</xs:element>
      	<xs:element name="relatedUCAsTooEarly" type="Q1:ucaIDType"
      		maxOccurs="1" minOccurs="0">
      	</xs:element>
      	<xs:element name="refinedSafetyConstraint" maxOccurs="1"
      		minOccurs="0">
      		<xs:complexType>
      			<xs:sequence>
      				<xs:element type="xs:string" name="value"
      					minOccurs="0" maxOccurs="unbounded" />
      			</xs:sequence>
      		</xs:complexType>
      	</xs:element>

      	<xs:element type="xs:boolean" name="hazardousAnyTime" />
      	<xs:element type="xs:boolean" name="hazardousToLate" />
      	<xs:element type="xs:boolean"
      		name="hazardousifProvidedToEarly" />
      	<xs:element type="xs:string" name="safetyConstraint" />
      	<xs:element name="combieId" type="xs:string" maxOccurs="1"
      		minOccurs="0">
      	</xs:element>
      	<xs:element name="archived" type="xs:boolean" maxOccurs="1"
      		minOccurs="0">
      	</xs:element>

      </xs:sequence>
   </xs:complexType>
<xs:complexType name="id">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="caType">
    <xs:sequence>
      <xs:element type="xs:nonNegativeInteger" name="number"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="xs:string" name="id"/>
      <xs:element name="unsafecontrolactions">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="unsafecontrolaction" maxOccurs="unbounded" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="correspondingSafetyConstraint" maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:string" name="text"/>
                        <xs:element type="xs:string" name="id"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element type="xs:string" name="description"/>
                  <xs:element type="xs:string" name="id"/>
                  <xs:element type="xs:string" name="links" maxOccurs="unbounded" minOccurs="0"/>
                  <xs:element type="xs:string" name="type"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element type="xs:boolean" name="isSafetyCritical" maxOccurs="1" minOccurs="0"/>
      <xs:element name="notProvidedPMVariables" minOccurs="0" maxOccurs="1">
         <xs:complexType>
             <xs:sequence>
               <xs:element type="xs:string" name="variableID" minOccurs="0" maxOccurs="unbounded"/>
             </xs:sequence>
          </xs:complexType>
      </xs:element>
      <xs:element name="providedPMVariables" maxOccurs="1" minOccurs="0">
         <xs:complexType>
             <xs:sequence>
               <xs:element type="xs:string" name="variableID" minOccurs="0" maxOccurs="unbounded"/>
             </xs:sequence>
          </xs:complexType>
      </xs:element>
      <xs:element name="PMCombisWhenNotProvided" maxOccurs="1" minOccurs="0">
         <xs:complexType>
            <xs:sequence>
               <xs:element type="Q1:combieType1" name="combinationOfPMValues" maxOccurs="unbounded" minOccurs="0"/>
             </xs:sequence>
          </xs:complexType>
      </xs:element>
      <xs:element name="PMCombisWhenProvided" maxOccurs="1" minOccurs="0">
         <xs:complexType>
             <xs:sequence>
              <xs:element type="Q1:combieType2" name="combinationOfPMValues" maxOccurs="unbounded" minOccurs="0"/>
             </xs:sequence>
          </xs:complexType>
      </xs:element>
      <xs:element type="xs:string" name="componentLink" maxOccurs="1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
                

  <xs:complexType name="processModelVariableIDsType">
  	<xs:sequence>
  		<xs:element name="variable" type="xs:string" maxOccurs="unbounded" minOccurs="0"></xs:element>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="ucaIDType">
  	<xs:sequence>
  		<xs:element name="ucaID" type="xs:string" maxOccurs="unbounded" minOccurs="0"></xs:element>
  	</xs:sequence>
  </xs:complexType>
</xs:schema>
